# Exclude from git language statistics
runtime/tests/nnapi/specs/** linguist-detectable=false
res/** linguist-detectable=false

# Default: text file
# - Set End-Of-Line type
* text eol=lf

# Binary - ignore text file setting
*.bmp binary
*.caffemodel binary
*.circle binary
*.h5 binary
*.jar binary
*.pdf binary
*.png binary
*.tar.gz binary
*.tflite binary
*.svg binary
