#!/usr/bin/make -f
export DH_VERBOSE = 1
export NNAS_BUILD_PREFIX = build
export PRESET = 20230413
export _DESTDIR = debian/tmp/usr

%:
	dh $@

override_dh_auto_build:
	./nnas create-package --preset $(PRESET) --prefix "$(_DESTDIR)"

override_dh_auto_install:
	cmake --build "$(NNAS_BUILD_PREFIX)/nncc" -- install

override_dh_install:
	install -T -m 755 -D "infra/packaging/res/tf2nnpkg.${PRESET}" "$(_DESTDIR)/bin/tf2nnpkg"
	dh_install

