Source: one
Section: devel
Priority: extra
Maintainer: Neural Network Acceleration Solution Developers <nnfw@samsung.com>
Build-Depends: cmake, debhelper (>=9), dh-python, python3-all
Standards-Version: 3.9.8
Homepage: https://github.com/Samsung/ONE

Package: one-compiler
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: on-device neural engine compiler

Package: one-compiler-dev
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: one-compiler development package

Package: one-compiler-test
Architecture: any
Multi-Arch: same
Depends: one-compiler, ${shlibs:Depends}, ${misc:Depends}
Description: one-compiler test package
