Source: onnx2circle
Section: devel
Priority: optional
Build-Depends: debhelper (>= 12), cmake
Maintainer: Neural Network Acceleration Solution Developers <nnfw@samsung.com>
Standards-Version: 4.5.0
Homepage: https://github.com/Samsung/ONE

Package: onnx2circle
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ONNX to Circle model converter
 Converts ONNX models into Samsung's Circle format.
