# Default control file for Debian packaging starting point
# It will be overwritten by the override_dh_clean in debian/rules
Source: one
Section: libs
Priority: optional
Maintainer: Neural Network Acceleration Solution Developers <nnfw@samsung.com>
Build-Depends: cmake, debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/Samsung/ONE

Package: onert
Replaces: nnfw (<< 1.29.0)
Breaks: nnfw (<< 1.29.0)
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: one-runtime package
