name: Check code format

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

defaults:
  run:
    shell: bash

jobs:
  check-format:
    name: Check format
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      # C format: clang-format-8
      # Python format: yapf==0.22.0
      - name: Install packages
        run: |
          sudo apt-get install -y clang-format-8
          python -m pip install --upgrade pip
          pip install yapf==0.22.0

      - name: Check
        run: ./nnas format

      # Upload patch file if failed
      - name: Store archive
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: format-patch
          path: format.patch
          retention-days: 3

      # Add PR comment to link patch if failed
      - name: Add PR comment
        uses: actions/github-script@v6
        if: failure() && github.event_name == 'pull_request'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '**Format check failed**\n\nPlease apply the patch file to fix the format issue.\n\n```\n$ git apply format.patch\n```\n\n[format.patch](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/format-patch)'
            })


  check-copyright:
    name: Check copyright
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Fetch all history and branch (default: 1)
          # Require all history to get file creation date
          fetch-depth: 0

      - name: Check copyright
        run: ./nnfw copyright-check
