name: Check PR commit

on:
  pull_request:
    branches:
      - master
      - release/*
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  check-commit-message:
    name: Check commit message
    runs-on: ubuntu-22.04
    # Skip on draft, check on draft -> ready
    if: github.repository_owner == 'Samsung' && github.event.pull_request.draft == false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Checkout PR head commit
          # Checkout Action use merge commit as default
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch all history and branch (default: 1)
          fetch-depth: 0

      - name: Get commit body
        run: |
          git log "origin/${GITHUB_BASE_REF}..HEAD" --format=%b > commit_msg.txt
          sed '/^$/d' commit_msg.txt > commit_body.txt

      - name: Check signed-off
        run: |
          # Check string starting from "Signed-off-by:"
          count=$(grep -c 'Signed-off-by:' commit_body.txt)
          if [[ ! "$count" -ge "1" ]]; then
            echo "Your commit message does not contain the expected signoff information."
            exit 1
          fi

          echo "Signed-off-by is OK"

      - name: Check body words
        # Run if check_signed_off step is failed
        if: ${{ always() }}
        run: |
          count=$(sed '/Signed-off-by:/d' commit_body.txt | wc -w)
          echo "Commit body word check: $count words"
          if [[ "$count" -lt "5" ]]; then
            echo "The body of your commit does not satisfy this repository requirements."
            echo "The body needs to contain at least 5 words."
            exit 1
          fi

  check-typo:
    runs-on: ubuntu-22.04
    if: github.repository_owner == 'Samsung'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

        # Chekc typo
      - name: Check typo
        uses: reviewdog/action-typos@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
