name: Run onert-micro Unit tests

on:
  pull_request:
    branches:
      - master
      - release/*
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  run-onert-micro-unit-tests:
    name: Run onert-micro Unit tests
    runs-on: ubuntu-20.04
    # Skip on draft, check on draft -> ready
    if: github.event.pull_request.draft == false

    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            onert-micro:
              - 'onert-micro/**'
              - '.github/workflows/run-onert-micro-unit-tests.yml'
      - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
        if: steps.changes.outputs.onert-micro == 'true'
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.2.Rel1' # <-- The compiler release to use
      - name: Checkout
        if: steps.changes.outputs.onert-micro == 'true'
        uses: actions/checkout@v3
        with:
          # Checkout PR head commit
          # Checkout Action use merge commit as default
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch all history and branch (default: 1)
          fetch-depth: 0
      - name: Build and Run Tests
        if: steps.changes.outputs.onert-micro == 'true'
        run: |
          mkdir build
          cd build
          cmake ../infra/onert-micro/ -DENABLE_ONERT_MICRO_TEST=1 -DENABLE_TEST=1
          make -j$(nproc) luci_interpreter_kernels_micro_test
          ./onert-micro/eval-driver/luci-interpreter/src/kernels/luci_interpreter_kernels_micro_test
