name: Run onert-micro Unit tests

on:
  push:
    branches:
      - master
      - release/*
    paths:
      - 'onert-micro/**'
      - '.github/workflows/run-onert-micro-unit-tests.yml'
  pull_request:
    branches:
      - master
      - release/*
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - 'onert-micro/**'
      - '.github/workflows/run-onert-micro-unit-tests.yml'

defaults:
  run:
    shell: bash

# Cancel previous running jobs when pull request is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-onert-micro-unit-tests:
    name: Run onert-micro Unit tests
    runs-on: ubuntu-22.04
    # Skip on draft, check on draft -> ready
    if: github.repository_owner == 'Samsung' && github.event.pull_request.draft == false

    steps:
      - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
        # Not working now
        # uses: carlosperate/arm-none-eabi-gcc-action@v1
        #   release: '12.2.Rel1' # <-- The compiler release to use
        run: sudo apt-get update && sudo apt-get install -y gcc-arm-none-eabi

      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Checkout PR head commit
          # Checkout Action use merge commit as default
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch all history and branch (default: 1)
          fetch-depth: 0
      - name: Build for Cortex ARM
        run: |
          mkdir build_arm
          cd build_arm
          cmake ../infra/onert-micro/ -DCMAKE_BUILD_TYPE=Release -DNOT_BUILD_EXTERNALS=0
          cmake --build . --target onert_micro_arm -j1

      - name: Build and Run Tests
        run: |
          mkdir build
          cd build
          cmake ../infra/onert-micro/ -DENABLE_ONERT_MICRO_TEST=1 -DENABLE_TEST=1
          make "-j$(nproc)" onert_micro_execute_kernels_test
          ./onert-micro/eval-driver/onert-micro/src/execute/onert_micro_execute_kernels_test
