#!/usr/bin/make -f

# x64 only
# TODO: Support more architectures
DEBVER := $(shell dpkg-parsechangelog -SVersion)
NPROC ?= $(shell nproc)

export DH_VERBOSE = 1
export NNFW_WORKSPACE = build
export NNFW_INSTALL_PREFIX = $(CURDIR)/debian/tmp/usr/

%:
	dh $@

override_dh_auto_build:
	test -d externals || mkdir -p externals
	find packaging/ -type f -name "*.tar.gz" | xargs -i tar xf {} -C externals
	mkdir -p $(NNFW_WORKSPACE)
	./nnfw configure -DCMAKE_BUILD_TYPE=Release -DEXTERNALS_BUILD_THREADS=$(NPROC) \
		-DBUILD_LOGGING=OFF -DDOWNLOAD_GTEST=OFF -DENABLE_TEST=OFF \
		-DBUILD_TENSORFLOW_LITE=OFF -DBUILD_PYTHON_BINDING=OFF -DBUILD_MINMAX_H5DUMPER=OFF
	./nnfw build -j$(NPROC)
override_dh_auto_install:
	./nnfw install --prefix $(NNFW_INSTALL_PREFIX)
override_dh_install:
	install -d $(NNFW_INSTALL_PREFIX)/lib/pkgconfig
	sed -i 's:@libdir@:\/usr\/lib:g' ./packaging/nnfw.pc.in
	sed -i 's:@includedir@:\/usr\/include:g' ./packaging/nnfw.pc.in
	sed -i 's:@version@:${DEBVER}:g' ./packaging/nnfw.pc.in
	install -m 0644 packaging/nnfw.pc.in -T $(NNFW_INSTALL_PREFIX)/lib/pkgconfig/nnfw.pc
	dh_install
